.carousel-design{
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
}

.carousel-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 2.3rem;
}
.carousel-heading i{
    font-size: 3.5rem;
}

.carousel-card{
    height: max-content;
    padding: 10px 0px 30px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-70%);

}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 400px;
  height: 280px;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.mySwiper2 img{
  object-fit: cover;
  width: 400px;
  height: 280px;
}

@media (max-width: 480px){
  .carousel-heading{
    font-size: 1.5rem;
    margin: 40px 20px;
    padding: 20px 0px;
}
.carousel-card{
  height: max-content;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.swiper {
  width: 300px;
  height: 220px;
}
.mySwiper2 img{
  object-fit: cover;
  width: 300px;
  height: 220px;
}
}